[defaults]
inventory = hosts.ini
#private_key_file = ~/.ssh/ansible
#log_path = ./ansible_log.txt

[privilege_escalation]
become=true
become_method=sudo
become_ask_pass=false

[ssh_connection]
ssh_args = -o GSSAPIAuthentication=no -o StrictHostKeyChecking=no -o ConnectTimeout=30
